<app-header></app-header>

<mat-card *ngIf ="currentUser">
  <!-- <app-pdf-exporter [data]="getTable()"></app-pdf-exporter>
  <app-csv-exporter [data]="vehiculos"></app-csv-exporter>   -->
  <button *ngIf="currentUser.type == 2" mat-raised-button color="primary" routerLink="/newAppointment">
    <mat-icon aria-hidden="false">calendar_today</mat-icon>
    Nuevo Turno</button>
  <button *ngIf="currentUser.type == 3" mat-raised-button color="primary" routerLink="/availability">
    <mat-icon aria-hidden="false">schedule</mat-icon>
    Mi Disponibilidad</button>
    <button *ngIf="currentUser.type == 3" mat-raised-button color="primary" (click)="openUserSpecialtiesDialog()">
      <mat-icon aria-hidden="false">school</mat-icon>
      Mis Especialidades</button>
    <button *ngIf="currentUser.type == 1" mat-raised-button color="primary" (click)="openSpecialtyDialog()">
      <mat-icon aria-hidden="false">add</mat-icon>
      Cargar Especialidad</button>
      <button *ngIf="currentUser.type == 1" mat-raised-button color="primary" routerLink="/users">
        <mat-icon aria-hidden="false">supervisor_account</mat-icon>
        Usuarios</button>
</mat-card>

<app-appointments-list></app-appointments-list>

<!-- <app-chart></app-chart> -->
