<mat-form-field  *ngIf="!loading"  class="example-full-width">
    <input matInput [matDatepickerFilter]="myFilter" 
    [min]="minDate" 
    [max]="maxDate" 
    [matDatepicker]="picker" 
    placeholder="Eliga el día" 
    [(ngModel)] = "selectedDate" 
    (dateChange)="onSelectDate($event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-spinner diameter="50" *ngIf="loading"></mat-spinner>



