<div class="container">
  <form>
    <div class="imgcontainer">
      <img src="./assets/images/logo.jpg" alt="Avatar" class="avatar">
    </div>
    <div style="padding: 5%;">
      <mat-form-field class="example-full-width">
        <input matInput type="email" placeholder="EMAIL" [(ngModel)]="usuario" name="user">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="CLAVE" [(ngModel)]="clave" name="password">
      </mat-form-field>

      <br>
      <label> No soy un robot. </label>
      <input type="checkbox" [appDisabled]="validatedCaptcha" [(ngModel)]="validatedCaptcha" (ngModelChange)="onCheckCaptcha($event)" name="validatedCaptcha">
     
      <br>
      <button [disabled] = "!validatedCaptcha"  class="btnFooter"
        (click)="Entrar()">Ingresar</button>
      <button class="btnFooter" mat-stroked-button color="primary" routerLink="/register">Registrarse</button>
    </div>
  </form>
</div>