<button mat-raised-button color="primary" routerLink="/home">
  <mat-icon aria-hidden="false">reply</mat-icon>
  Volver
</button>
<div class="example-container">
  <mat-form-field>
    <mat-label>Especialidad</mat-label>
    <mat-select [(ngModel)]="selectedSpecialty" name="specialty">
      <mat-option *ngFor="let specialty of specialties" [value]="specialty.name">
        {{specialty.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Especialista</mat-label>
    <mat-select [(ngModel)]="selectedSpecialist" name="specialist">
      <mat-option *ngFor="let specialist of specialists | filterBySpecialty : selectedSpecialty" [value]="specialist">
        {{specialist.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <app-calendar *ngIf="selectedSpecialist" [specialistId]="selectedSpecialist.id" (selectDate)=onSelectedDate($event)></app-calendar> 
  <mat-form-field  *ngIf="selectedTime">
    <input matInput type="time" [(ngModel)]="selectedTime" disabled>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="AddAppointment()" [disabled]="!newAppointment">Listo</button>
</div>