  <mat-form-field appearance="legacy" class="centerSearch">
    <input matInput placeholder="Buscar turno..." 
    [(ngModel)]="searchText"
    (ngModelChange)="onChangeSearchText($event)">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

<mat-table [dataSource]="appointments" class="mat-elevation-z8">
  <ng-container matColumnDef="Fecha">
    <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
    <mat-cell *matCellDef="let appointment"> {{appointment.date | date}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Paciente">
    <mat-header-cell *matHeaderCellDef> Paciente </mat-header-cell>
    <mat-cell *matCellDef="let appointment"> <div class="link" (click)="openUserDialog(appointment.client)">{{appointment.client.name}}</div> </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Profesional">
    <mat-header-cell *matHeaderCellDef> Profesional </mat-header-cell>
    <mat-cell *matCellDef="let appointment"> <div class="link" (click)="openUserDialog(appointment.specialist)">{{appointment.specialist.name}}</div> </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Estado">
    <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
    <mat-cell *matCellDef="let appointment">
      {{appointment.status | appointmentStatus }}
      <!-- 
          -->
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Acciones">
    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
    <mat-cell *matCellDef="let appointment">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="canAcceptAppointment(appointment)"
          (click)="onchangeAppointmentStatus(appointment, 2)">
          <mat-icon aria-hidden="false">
            check
          </mat-icon>
          <span>Aceptar Turno</span>
        </button>
        <button mat-menu-item *ngIf="canCancelAppointment(appointment)"
          (click)="onchangeAppointmentStatus(appointment, 4)">
          <mat-icon aria-hidden="false">
            clear
          </mat-icon>
          <span>Cancelar Turno</span>
        </button>
        <button mat-menu-item *ngIf="showReview(appointment)" (click)="openReview(appointment)">
          <mat-icon aria-hidden="false">
            chat
          </mat-icon>
          <span>Reseña</span>
        </button>
        <button mat-menu-item *ngIf="showSurvey(appointment)" (click)="openSurvey(appointment)">
          <mat-icon aria-hidden="false">
            comment
          </mat-icon>
          <span>Encuesta</span>
        </button>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>